@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: antiquewhite;
        }
        div {
            list-style: none;
        }
        .li1 {
            font-size: 40px;
            padding-left: 430px;
        }
        .li2 {
            font-size: 35px;
            padding-left: 475px;
        }
        .li3 {
            font-size: 75px;
            color: #B39DB5;
            padding-left: 300px;
        }
        .content {
            margin-top: 30px;
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div class="parent">
    </div>
    <div class="content">
        <div class="writing">
            <li class="li1">Hello Every one,</li>
            <li class="li2">Welcome To</li>
            <li class="li3">DR Technologies</li>
        </div>
    </div>
</body>
</html>