@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: antiquewhite;
        }

    </style>
</head>
<body>
    <section>
        <h2>Information Collection and Use</h2>
        <p>While using our website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. This information may include your name, email address, and phone number.</p>
    </section>

    <section>
        <h2>Log Data</h2>
        <p>Like many websites, we collect information that your browser sends whenever you visit our site. This may include your computer's IP address, browser type, pages you visit, and other statistics.</p>
    </section>

    <section>
        <h2>Communications</h2>
        <p>We may use your personal information to contact you with newsletters, marketing, or promotional materials.</p>
    </section>

    <section>
        <h2>Cookies</h2>
        <p>We use cookies to collect data. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.</p>
    </section>

    <section>
        <h2>Security</h2>
        <p>The security of your personal information is important to us, but we cannot guarantee absolute security. We use commercially acceptable means to protect your information.</p>
    </section>

    <section>
        <h2>Changes to This Privacy Policy</h2>
        <p>This Privacy Policy is effective as of [Date] and may be updated or changed in the future. Check this page for any modifications. Your continued use of our services after any changes constitutes your acceptance of those changes.</p>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>If you have questions about this Privacy Policy, please contact us.</p>
        <p>Phone: <a href="tel:18006759800">1800-675-9800</a></p>
        <p>Email: <a href="mailto:help@Dr.com">help@Dr.com</a></p>

    </section>

</body>
</html>